<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">

</head>

<body>
  <div><a href="/logout">ログアウト</a></div>

  <h1>Janken Game!!</h1>


  <!--
  <div th:if="${entry}">
    エントリー
    <ul>
      eachは所謂for each．この場合roomオブジェクトのusersフィールドにあるすべてのデータを一通り表示する
          thが指定されているので[]が不要になる
      <li th:each="user : ${entry.users}">[[${user}]]</li>
    </ul>
  </div>
-->
  <p>
  <div th:if="${username}">
    Hi [[${username}]]
  </div>
  </p>

  <p th:if="${users}">
  <h2>エントリー</h2>
  <!--statはステータス変数
          https://www.ne.jp/asahi/hishidama/home/tech/java/spring/boot/thymeleaf/th_each.html
        -->
  <div th:each="users,stat:${users}">
    <tr>
      <!--<td>Index:[[${stat.index}]]</td>
      <td>ID:[[${users.id}]]</td>
      -->
      <li><a th:href="@{/match(id=${users.id})}">[[${users.name}]]</a></li>
    </tr>
  </div>
  </p>

  <p th:if="${matches}">
  <h2>試合結果</h2>
  <!--statはステータス変数
                      https://www.ne.jp/asahi/hishidama/home/tech/java/spring/boot/thymeleaf/th_each.html
                    -->
  <div th:each="matches,stat:${matches}">
    <tr>
      <!-- <td>Index:[[${stat.index}]]</td> -->
      <td>ID:[[${matches.id}]]</td>
      <td>ユーザ1:[[${matches.user1}]]</td>
      <td>ユーザ2:[[${matches.user2}]]</td>
      <td>ユーザ1の手:[[${matches.user1Hand}]]</td>
      <td>ユーザ2の手:[[${matches.user2Hand}]]</td>
    </tr>
  </div>
  </p>



  <!--    <p>
        <div th:if="${username}">
            Hi [[${username}]]
        </div>
    </p>
  -->

  <!--

  <p>
  <div>
    <a href="/janken1/1">ぐー</a>

    <a href="/janken1/2">ちょき</a>

    <a href="/janken1/3">ぱー</a>
  </div>
  </p>
  <div th:if="${te}">
    <p>
      あなたの手　[[${te}]]
    </p>
    <p>
      相手の手 Gu
    </p>
    <p>
      結果 [[${result}]]
    </p>

  </div>

-->

</body>

</html>
