<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">

</head>

<body>
  <div><a href="/logout">ログアウト</a></div>

  <h1>Match</h1>

  <div th:each="aite,stat:${aite}" th:if="${username}">
    <h2>[[${username}]] V.S. [[${aite.name}]]</h2>

    <p>
      <!--th:を付けるの忘れてた(不可な文字エラー [/@%7B/wait/?param1=1&(id=${aite.id})} ])，?付けるの忘れてた(404)，-->
      <a th:href="@{/wait/?param1=1&(id=${aite.id})}">ぐー</a>

      <a th:href="@{/wait/?param1=2&(id=${aite.id})}">ちょき</a>

      <a th:href="@{/wait/?param1=3&(id=${aite.id})}">ぱー</a>
    </p>
  </div>
  <div th:if="${te}">
    <p>
      あなたの手　[[${te}]]
    </p>
    <p>
      相手の手 Gu
    </p>
    <p>
      結果 [[${result}]]
    </p>

  </div>
</body>
<a href="/janken">もどる</a>

</html>
